body{
    display:flex;
    flex-direction:column;
    font-family: 'Roboto', serif;
}

.content_image img {
    width:300px;
    height:auto;
}

.card {
    width:150px;
    height:150px;
}
.card_image {
    width:inherit;
    height:inherit;
    border: 1px solid blue;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:#1f2937;
    color:white;
    padding:16px;
}

.logo {
    font-size:48px;
    font-weight:extra-bold;
}

.navlinks ul{
    display:flex;
    gap:8px;
    list-style-type:none;
}

a{
    color:inherit;
    text-decoration:none;
}